.login-container {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        width: 300px;
        min-height: 150px;
        display: flex;
        border-top: rgb(185, 185, 185) solid 1px;
        justify-content: space-between;
        border-radius: 3px;
        align-items: center;
        flex-direction: column;
        background: rgb(245, 245, 245);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.383);

        input {
            width: 90%;
            height: 40px;
            background-color: rgb(235, 235, 235);
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            border: none;
            border-bottom: solid 1px grey;
            font-size: 16px;
            padding-left: 5px;
            outline: transparent;
            font-weight: 600;
        }

        input::placeholder {
            color: rgb(102, 101, 101);
        }

        button {
            margin: 0px 0 10px;
            height: 30px;
            width: 80px;
            border: none;
            background: linear-gradient(0deg,#52CAB6, #52CAB6);
            color: white;
            font-size: 16px;
            font-weight: 600;
            border-radius: 2px;
            cursor: pointer;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.383);
        }
    }
}