@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Raleway');
$main-color: rgb(226, 226, 226);

.App {
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}




input:focus, button:focus  {
    outline: transparent;
}

@import './components/Login';
@import './components/Chatroom';

